/tests              export-ignore
/.scrutinizar.yml   export-ignore
/.travis.yml        export-ignore
/CHANGELOG.md       export-ignore
/CONTRIBUTING.md    export-ignore
/LICENSE.md         export-ignore
/README.md          export-ignore
/phpunit.php        export-ignore
/phpunit.xml        export-ignore
